.auth-container {
  background: url("../../assets/auth-bg.svg");
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* AUTH LOGIN LEFT CSS START */
.auth-left {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.auth-left .text-logo {
  width: 394px;
  height: 128px;
}
.auth-left .quotes {
  color: white;
  font-family: Philosopher;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.auth-left .quotes span {
  display: block;
  font-size: 24px;
  line-height: 28px;
}
.auth-left .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logo {
  width: 140.87px;
  height: 30px;
}
/* AUTH LOGIN LEFT CSS END */

/* LOGIN FORM CSS START */

.auth-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
}
.auth-form h5 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.auth-form .input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input label {
  color: white;
}
.input input[type="text"] {
  width: 400px;
  height: 35px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}
.input input[type="button"] {
  width: 400px;
  height: 40px;
  background: linear-gradient(180deg, #36b0c9 0%, #003f84 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
.auth-form .info {
  display: flex;
}
